/* Base */
@import "./base/const";
@import "./base/tools";
@import "./base/reset";

//----------------------------------header--------------------------------------------------
@import "./blocks/header";

//----------------------------------main----------------------------------------------------
.main-block {
	position: relative;
	width: 100vw;
	height: 100vh;
}
//----------------------------------footer--------------------------------------------------
@import "./blocks/footer";